<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://gitlab.sinocbd.local/uploads/-/system/user/avatar/12/avatar.png">

    <title>欢迎 | （影视）峰氏小站</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">
    <title>{{ config.APP_NAME }} - zfeno</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">zfeno</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">主页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.zfeno.cn">博客</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">数据湖</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
</nav>

<div class="py-5 text-center bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white">
                <h1 class="display-3 mb-4">{{ config.APP_NAME }}</h1>
                <a target="_blank" rel="noopener noreferrer" class="btn btn-lg mx-1 btn-secondary"
                   href="/debug">访问Swagger调试工具</a>
            </div>
        </div>
    </div>
</div>

{#<main role="main" class="container">#}
{##}
{#    <div class="starter-template">#}
{#        <h1>欢迎</h1>#}
{#        <p class="lead">使用GDSP快速处理您的数据<br>GDSP永远都是你的好朋友</p>#}
{#        <p>登陆IP：{{ ip }}</p>#}
{#        <p>User-Agent：{{ ua }}</p>#}
{#        <p>User Name：{{ username }}</p>#}
{#        <a href="{{ url_for('auth_bp.logout', username='') }}{{ username }}" class="btn btn-primary"#}
{#           role="button">登出</a>#}
{#    </div>#}
{##}
{#</main><!-- /.container -->#}
</body>
</html>